@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

:root {
    --card-color: #fff;
    --card-button-color: #34AF6D;
    --card-button-hover-color: #4AD489;
    --table-color: #4AD489;
    --table-field-color: #34AF6D;
}


.treatment-schedule {
    grid-area: s;
    margin: 20px 10px 0 10px;
    text-transform: capitalize; 
}

.treatment-list {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

table thead tr {
    color: #fff;
    background: var(--table-field-color);
    text-align: left;
    font-weight: bold;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-of-type(odd) {
    background: #f3f3f3;
}

.table tbody tr:hover {
    color: var(--table-color);
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid var(--table-color);
}

.table button {
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid var(--table-color);
}

.table button:hover {
    background: var(--table-color);
    color: #fff;
    transition: 0.5rem;
}