<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display page</title>
    <link rel="stylesheet" href="/css/employeeList.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/inforCard.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>

<body>
    <div class="container">
        <nav th:replace="navbar :: nav"></nav>

        <section class="main">
            <div class="table-wrapper">
                <h1>thông tin nhân viên</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>MSNV</th>
                            <th>Họ</th>
                            <th>Tên Đệm</th>
                            <th>Tên</th>
                            <th>CCCD</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Giám sát viên</th>
                            <th>Lương</th>
                            <th>Chi nhánh</th>
                            <th>Xóa nhân viên</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2210429</td>
                            <td>NCC</td>
                            <td>NCC</td>
                            <td>NCC</td>
                            <td>040 204 021 222</td>
                            <td>0973024758</td>
                            <td>ncc@gmail.com</td>
                            <td>nmhung</td>
                            <td>50 củ</td>
                            <td>Thu Duc</td>
                            <td><button>Xóa</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="infor-card">
                <header>
                    <h1>Chỉnh Sửa Thông Tin Nhân Viên</h1>
                    <!-- <span onclick="location.href='/profile/edit'">Chỉnh Sửa</span> -->
                </header>
                <div class="infor-content">
                    <!-- <div class="title">Thông tin chung</div> -->
                    <div class="field-wrapper">

                        <div class="field">
                            <label for="">Họ</label>
                            <!-- <div class="infor-text"></div> -->
                            <br>
                            <input type="text" class ="infor-text">

                            
                        </div>
                        <div class="field">
                            <label for="">Tên đệm</label>
                            <!-- <div class="infor-text"></div> -->
                            <br>
                            <input type="text" class ="infor-text">

                            
                        </div>

                        <div class="field">
                            <label for="">Tên</label>
                            <!-- <div class="infor-text"></div> -->
                            <br>
                            <input type="text" class ="infor-text">

                            
                        </div>

                        <div class="field">
                            <label for="">MSNV</label>
                            <!-- <div class="infor-text"></div> -->
                            <br>
                            <input type="text" class ="infor-text">

                            
                        </div>
                        <div class="field">
                            <label for="">Giám sát viên</label>
                            <!-- <div class="infor-text"></div> -->
                            <br>
                            <input type="text" class ="infor-text">

                            
                        </div>

                        <div class="field">
                            <label for="">Chi nhánh</label>
                            <!-- <div class="infor-text"></div> -->
                            <br>
                            <input type="text" class ="infor-text">

                            
                        </div>


                        <div class="field">
                            <label for="">CCCD</label>
                            <!-- <div class="infor-text"></div> -->
                            <br>
                            <input type="text" class ="infor-text">

                            
                        </div>

                        <div class="field">
                            <label for="">Số điện thoại</label>
                            <!-- <div class="infor-text"></div> -->
                            <br>
                            <input type="text" class ="infor-text">
                        </div>

                        <div class="field">
                            <label for="">Email</label>
                            <!-- <div class="infor-text"></div> -->
                            <br>
                            <input type="text" class ="infor-text">
                        </div>
                        <div class="field">
                            <label for="">Lương</label>
                            <!-- <div class="infor-text"></div> -->
                            <br>
                            <input type="text" class ="infor-text">
                        </div>
                    </div>
                </div>
                <span onclick="location.href=''">Gửi thông tin</span>
            </div>
            
        </section>
    </div>
</body>

</html>